    <li><a href="{% url 'promedios' 2014 11 17 7 1 %}">Ver promedios por país - Semana 1</a></li>
    <li><a href="{% url 'promedios' 2014 11 24 7 2 %}">Ver promedios por país - Semana 2</a></li>
    <li><a href="{% url 'promedios' 2014 12 1 7 3 %}">Ver promedios por país - Semana 3</a></li>
    <li><a href="{% url 'promedios' 2014 12 8 7 4 %}">Ver promedios por país - Semana 4</a></li>
