{% extends 'base.html' %}


{% block title %}

{% endblock %}

{% block content %}
{% load url from future %}
{% load fitbit %}

<div class="container">
    <div style="padding: 40px 15px; text-align: center;">
        {% if request.user|is_integrated_with_fitbit %}
            <iframe src="https://www.fitbit.com/logout" style="visibility: hidden;" width="0" height="0"></iframe>
            {% if request.user.userfitbit.myuserfitbit.authorized %}
                <h2>Autorizado ¡Gracias!</h2>
            {% else %}
                <h2>Error: Favor de autorizar de nuevo</h2>
            {% endif %}

        <ul class="list-unstyled">
            <li><a href="{% url 'fitbit-login' %}">Autorizar de nuevo</a></li>
            <li><a href="{% url 'steps' %}">Ver pasos de la última semana</a></li>
        {% else %}
            <li><a href="{% url 'fitbit-login' %}">Autorizar uso de Fitbit</a></li>
        {% endif %}
            {% include "graficas.html" %}
            <li><a href="{% url 'my:logout' %}">Salir</a></li>
        </ul>
    </div>
</div>
{% endblock %}
