{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}

<div class="container">
        <form class="form-signin" role="form" name="LoginForm" action="/my/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <h2 class="form-signin-heading">Enlazar <strong>Reto CID</strong></h2>

        {% if error %}
            <strong>{{ error }}</strong>
        {% endif %}

        <input type="text" id="username" name="username" class="form-control" placeholder="Username sin @iadb.org" required autofocus>
        <input type="hidden" name="password" value="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>

</div> <!-- /container -->

<div class="container">
    <div class="row" style="padding: 40px 15px;">
        <div class="col-md-4 center-block" style="float: none;">
            <ul>
            {% include "graficas.html" %}
            </ul>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="text-center col-md-6">
        <img src="{% static "img/dominicana_1.png" %}" alt="...">
        <img src="{% static "img/guatemala_1.png" %}" alt="...">
        <img src="{% static "img/costarica_1.png" %}" alt="...">
        <img src="{% static "img/nicaragua_1.png" %}" alt="...">
        <img src="{% static "img/mexico_1.png" %}" alt="...">
        <img src="{% static "img/panama_1.png" %}" alt="...">
        <img src="{% static "img/elsalvador_1.png" %}" alt="...">
        <img src="{% static "img/honduras_1.png" %}" alt="...">
        <img src="{% static "img/belize_1.png" %}" alt="...">
        <img src="{% static "img/hq_1.png" %}" alt="...">
  </div>
</div>
</div>

{% endblock %}
