{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}

<div id="container" style="min-width:310px;"></div>

{% endblock %}

{% block bootstrap3_extra_script %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>

<script type="text/javascript">

$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Evolución de los promedios'
        },
        xAxis: {
	    {% autoescape off %}
            categories: {{ paises }},
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Pasos',
                align: 'middle'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' pasos'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 150,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: {{ data_por_semana }}
	{% endautoescape %}
    });
});

</script>
{% endblock %}
