{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}

{% endblock %}

{% block content %}

<div id="container" style="min-width:310px;"></div>

{% endblock %}

{% block bootstrap3_extra_script %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<script type="text/javascript">

Highcharts.setOptions({
    lang: {
        drillUpText: '<< {series.name}'
    }
});


    $('#container').highcharts({
                chart: {
                    type: 'bar',
                    events: {
                        drilldown: function(e) {
                            if (e.seriesOptions.data.length > 20) {
                                $('#container').height(e.seriesOptions.data.length*25);
                            } else {
                                $('#container').height(400);
                            }
                            this.reflow();
                        },
                        drillup: function(e) {
                            $('#container').height(400);
                            this.reflow();                         
                        }
                    }
                },
                title: {
                    text: 'Promedio DIARIO de pasos, del {{ from }} al {{ to }}.'
                },
                subtitle: {
                    text: 'Click en las columnas para ver detalle por persona.'
                },
                xAxis: {
                    type: 'category'
                },
                yAxis: {
                    title: {
                        text: 'Pasos'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.0f}'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.0f}</b><br/>'
                },

                series: [{
                    name: 'País',
                    colorByPoint: true,
                    {% autoescape off %}
                    data: {{ global_data }}
                }],
                drilldown: {
                   drillUpButton: {
                      relativeTo: 'plotBox',
                      position: {
                          verticalAlign: 'middle'
                        }
                    },
                    series: {{ detail_data }}
                    {% endautoescape %}
                },
                credits: {
                             enabled: false
                 }
    });
</script>
{% endblock %}
